body {
  font-family: Arial, Gotham A
}

h1, h2 {
  text-align: center;
}

p {
  font-size: 2em;
}

.fb {
  background-color: #3399ff;
  color: white;
}

.ig {
  background-color: #ffccff;
  color: white;
}

.yt {
  background-color: #ff4d4d;
  color: white;
}
